html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  Variables
*/
* {
  box-sizing: border-box; }

body {
  background-color: #DDD;
  font-family: sans-serif;
  font-size: 12px;
  color: #444;
  line-height: 18px;
  padding: 10px; }

h1 {
  font-size: 2em;
  font-weight: bold; }

small {
  font-size: 0.8em;
  color: #999; }

pre {
  font-family: monospace; }
pre.info {
  border-bottom: 3px solid #c4c4c4;
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #2b2b2b; }

button {
  background-color: #d0d0d0;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  padding: 3px 10px;
  border-bottom-width: 3px; }
button:hover {
  background-color: #eaeaea; }
button .active {
  top: 3px;
  border-top: 3px;
  border-bottom-width: 1px;
  background-color: #dddddd; }

#main {
  width: 1142px;
  margin-left: 50%;
  transform: translateX(-50%); }
@media (max-width: 1142px) {
  #main {
    transform: none;
    margin-left: 0px; } }

#grid, #menu {
  margin-bottom: 15px;
  border: 1px solid #c4c4c4;
  background-color: #eaeaea;
  padding: 10px; }

#position {
  padding: 10px;
  color: #444; }

#rooms {
  position: relative;
  top: 0;
  left: 0;
  float: left; }

/*
  VARIABLES
*/
/*
  CLASSES
*/
.map-row {
  display: table-row; }

/* Cell */
.map-cell {
  display: table-cell;
  width: 14px;
  border: none; }

.map-cell:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  border: none; }

/* Specific cells */
.map-cell-wall {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAnUlEQVQokY1SuxLDIAxTOW8MjMwZkp/qh7Tf2g6ZGRnYfNcMLa1NHKdaeJxlIZnL7X594QMuDQCwVsa8JHgII8kClwYuDc9H1URJkmpes3BEAgDKUa1Toq8q9UsAmLNrSzUmv/QHylE1DlaRFcaIXTheIDui9Cn3Hv72KF+zVn6Pw/IyjkZamBLZimOCFsLZv+xKlKPO4uwzj2H18waURVCVLdhS4wAAAABJRU5ErkJggg==");
  background-size: 100% auto;
  background-color: #CCC; }

.map-cell-floor {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAL0lEQVQIW2NkgAAfKI1CMUIltlBNUpKBgeE5yFhsAC4JcgzITpAAMgDrhElimAAA2UEIVBhnGn4AAAAASUVORK5CYII=");
  background-size: 50% auto;
  background-color: #c1ac53; }

.map-cell-water {
  /*background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAMElEQVQIW2NkwAMYoXLGUPosMh8kCZJAEYTxYTqxGg6SlITKPIfScD6yTgxFeI0FAHc5BlSOgEKdAAAAAElFTkSuQmCC);*/
  background-image: url("data:image/gif;base64,R0lGODdhDgAOAKIAAAAAADJubnevtsbZ6MHH33yZuwAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJHgAAACwAAAAADgAOAAADKyi63BJhwPAkhWOQLHWOGiGKITkypyA6UcNN2faV3DiGqo2uTu//wKCwlwAAIfkECR4AAAAsAAAAAA4ADgAAAysoutwaYcAg4oRjkCw1z0QoamLJiMrmRM0mYV4WjWC5Eam5oE7v/8Cg0JEAACH5BAkeAAAALAAAAAAOAA4AAAMrKLrMsSGM+KSNY5A8tc9EKGpiyYjL0AgS81EgF5RcGWqKfRJr7//AoLCXAAAh+QQJHgAAACwAAAAADgAOAAADKyi63BphwCDihGOQLDXPRChqYsmIyuZEzSZhXhaNYLkRqbmgTu//wKDQkQAAOw==");
  background-size: 100% auto;
  background-color: #1d67f9 !important; }

.map-cell-lava {
  background-image: url("data:image/gif;base64,R0lGODdhDgAOACcAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJHgAAACwAAAAADgAOAIIAAAC2dwBuMjLoWADBxwBuMgC2WAAAAAADMBi63CFiQPEkhWOQLHWOGiGKITkyZyA6UcNN2faV3DiGqo2uTu8vBUMj2BAWf8hGAgAh+QQJHgAAACwAAAAADgAOAIIAAAC2dwBuMjLoWADBxwBuMgC2WAAAAAADMBi63CpiQBHihGOQLDXPRChqYsmIyuZEzSZhXhaNYLkRqbmgTu8rBUMj2BAWf8hGAgAh+QQJHgAAACwAAAAADgAOAIIAAAC2dwBuMjLoWADBxwBuMgC2WAAAAAADMBi6zLJCjPikjWOQPLXPRChqYsmIy9AEEvNRICeUXBlqin0Sa+8vBUMj2BAWf8hGAgAh+QQJHgAAACwAAAAADgAOAIIAAAC2dwBuMjLoWADBxwBuMgC2WAAAAAADMBi63CpiQBHihGOQLDXPRChqYsmIyuZEzSZhXhaNYLkRqbmgTu8rBUMj2BAWf8hGAgA7");
  background-size: 100% auto;
  background-color: #f9d51d !important; }

.map-cell-item-ennemy:after {
  background-size: 100% auto;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAeUlEQVQYlX2Q0Q3DMAgFD6tzdCxL2SNjOHNEolt5kdePkgasqucfi0PPBgMAiS9mZCTK2bQolyQNedar8qQbgNM5ePEEoDMis13hOzPUTUhPpfv+qKVZ2lqO6tGwr1O6JJc00igNzARMjMlnORunld/+4q+MVyvXbt9QxF+28/K7hAAAAABJRU5ErkJggg=="); }

.map-cell-item-chest:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAw0lEQVQokWNgIBMwovH/E6seWeP/NEtDBgYGBoapO1kZst1/Y7BnHT8P1wPT+L8/zJqBgYGBIWfOb4YpKawYVl1//I1BU5aLoXDVUQYGBgZGFmQJhOm/MTRC5L5huPm/koIJAe9BwL0HZxgYGBgYmWACLpJ/GW5eYmJwkfzLwMDAwLC9wYhhe4MRVjkGBgYGJhTT1hkQZSsDAwMDCzZBF8m/DJ4N5+BshKGnsduoFHQBRTOy05DlKHIqPFSJ1oGqj44AAG86PtaEiWBfAAAAAElFTkSuQmCC"); }

.map-cell-item-health:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAnklEQVQokcWRsQ6CMBRFD8YQQxgKLh0hfoGjf+DnMrowOzLKD5jg1sFoQkjKVFPbp4ycrS/3pPflwao0ZW2bsrZLM4CtH8jPJwC6dmePj1sizVw+cdJUFQCkSpFpzfNyZaoKUqUAyLRm33Y4eRNWGI3hNQy4n0ZjxLUi0YVN33+9Qz6d/boSh/ubaMclOZQiUZIlSRR9+Zf0F+no6zIDbk1Pu03MjqgAAAAASUVORK5CYII="); }

.map-cell-item-boss:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAuklEQVQokZ2SsQ3EIAxFv6NrMkKaG4CWNdJeJskYySJcmzVoKSloMoJLX3EJB4TkpHwJ2cZ+2BImJBIRwYmIiLI4hYpclc+cFDJa49V1AIDZezzbFoO1B5j+QbtKuNk9ozUGazF7j/e6HqBJqWzmBoVG5xCYzzrVQaN1tah2/7gqCsynj8WO5UhpHJgxOnekt48XAGK0Fun7aCelYm47v45ERPvSBGbQskRbiDLwjm6D2a5eFn63K9Z/AKl/YS7wMRjiAAAAAElFTkSuQmCC"); }

.map-cell-item-player:after {
  background: url("data:image/gif;base64,R0lGODdhDgAOAHcAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCgAAACwAAAAADgAOAIMAAAAiIDRFKDysMjJmOTGpdVDGclCEnkO2n1eNa1FgWJgAAAAAAAAAAAAAAAAAAAAETxBIGaa9QIgxwKhUNhDkoFkmMRaFMRwCSqrEgXDTVmoHUagVAU0QSAh/Mc+MmCqYAIHRQKHYjFRJz/S6k3QECm4JNzFJTTEQtIPuYDAgdwQAIfkECQoAAAAsAAAAAA4ADgCDAAAAIiA0rDIyRSg8ZjkxYFiYqXVQxnJQjWtRhJ5DAAAAAAAAAAAAAAAAAAAAAAAABE8QSBmmnUIKMQYQFQUMAmFuXvYJxWYchulNZFGYhLFhJduVsUFlgBMiSEEJ6QQixjKBzamTSGxUIxzOOlNKcYIEycL5cgAhdKYzvrjRGkkEACH5BAkKAAAALAAAAAAOAA4AgwAAACIgNKwyMkUoPGY5Mal1UGBYmKeCe8ZyUI1rUYSeQwAAAAAAAAAAAAAAAAAAAARQEEgZpp1CijGyqBTACQKxZYBHEkThCsZgdSwrHOREm5thIKbKrpMYtEwSI2sQCBiBskCJpRjZZBqBQmGqoZKKlY3Q0Yh2puhEmtpgL/DKNwIAIfkECQoAAAAsAAAAAA4ADgCDAAAAIiA0rDIyRSg8ZjkxhJ5DqXVQxnJQYFiYAAAAAAAAAAAAAAAAAAAAAAAAAAAABE8QSBmmvUCMnSsFg0AQgiZIp1aIRlsOVliMo0HAaFkUG1tWotEgcPDhBiNNIIC0wZg0zQAhKk1KNAKCipMgkyQB9TQJBUnPSeDUI1vc6ksEADs="); }

/* Rooms */
.map-cell-room-0 {
  background-color: #978272; }

.map-room-0-overlay {
  background-color: rgba(151, 130, 114, 0.5);
  color: #5e5045;
  border: 1px solid #5e5045; }

.map-cell-room-1 {
  background-color: #b272e7; }

.map-room-1-overlay {
  background-color: rgba(178, 114, 231, 0.5);
  color: #8223d0;
  border: 1px solid #8223d0; }

.map-cell-room-2 {
  background-color: #ab9df9; }

.map-room-2-overlay {
  background-color: rgba(171, 157, 249, 0.5);
  color: #593df3;
  border: 1px solid #593df3; }

.map-cell-room-3 {
  background-color: #fd84d1; }

.map-room-3-overlay {
  background-color: rgba(253, 132, 209, 0.5);
  color: #fb20ab;
  border: 1px solid #fb20ab; }

.map-cell-room-4 {
  background-color: #be7476; }

.map-room-4-overlay {
  background-color: rgba(190, 116, 118, 0.5);
  color: #8b4143;
  border: 1px solid #8b4143; }

.map-cell-room-5 {
  background-color: #cee2e4; }

.map-room-5-overlay {
  background-color: rgba(206, 226, 228, 0.5);
  color: #8cbbc0;
  border: 1px solid #8cbbc0; }

.map-cell-room-6 {
  background-color: #ed94c2; }

.map-room-6-overlay {
  background-color: rgba(237, 148, 194, 0.5);
  color: #de3d90;
  border: 1px solid #de3d90; }

.map-cell-room-7 {
  background-color: #fbc487; }

.map-room-7-overlay {
  background-color: rgba(251, 196, 135, 0.5);
  color: #f89324;
  border: 1px solid #f89324; }

.map-cell-room-8 {
  background-color: #70c5af; }

.map-room-8-overlay {
  background-color: rgba(112, 197, 175, 0.5);
  color: #3c937d;
  border: 1px solid #3c937d; }

.map-cell-room-9 {
  background-color: #9a67aa; }

.map-room-9-overlay {
  background-color: rgba(154, 103, 170, 0.5);
  color: #623d6e;
  border: 1px solid #623d6e; }

.map-cell-room-10 {
  background-color: #d9f6cf; }

.map-room-10-overlay {
  background-color: rgba(217, 246, 207, 0.5);
  color: #95e679;
  border: 1px solid #95e679; }

.map-cell-room-11 {
  background-color: #ffcd65; }

.map-room-11-overlay {
  background-color: rgba(255, 205, 101, 0.5);
  color: #feac00;
  border: 1px solid #feac00; }

.map-cell-room-12 {
  background-color: #ffed98; }

.map-room-12-overlay {
  background-color: rgba(255, 237, 152, 0.5);
  color: #ffdb32;
  border: 1px solid #ffdb32; }

.map-cell-room-13 {
  background-color: #c0bcf3; }

.map-room-13-overlay {
  background-color: rgba(192, 188, 243, 0.5);
  color: #6f65e4;
  border: 1px solid #6f65e4; }

.map-cell-room-14 {
  background-color: #97d68f; }

.map-room-14-overlay {
  background-color: rgba(151, 214, 143, 0.5);
  color: #52bb44;
  border: 1px solid #52bb44; }

.map-cell-room-15 {
  background-color: #69daab; }

.map-room-15-overlay {
  background-color: rgba(105, 218, 171, 0.5);
  color: #2cb17a;
  border: 1px solid #2cb17a; }

.map-cell-room-16 {
  background-color: #cf9585; }

.map-room-16-overlay {
  background-color: rgba(207, 149, 133, 0.5);
  color: #ab5a43;
  border: 1px solid #ab5a43; }

.map-cell-room-17 {
  background-color: #d7d5f8; }

.map-room-17-overlay {
  background-color: rgba(215, 213, 248, 0.5);
  color: #847ee9;
  border: 1px solid #847ee9; }

.map-cell-room-18 {
  background-color: #c693df; }

.map-room-18-overlay {
  background-color: rgba(198, 147, 223, 0.5);
  color: #9c44c8;
  border: 1px solid #9c44c8; }

.map-cell-room-19 {
  background-color: #77aa83; }

.map-room-19-overlay {
  background-color: rgba(119, 170, 131, 0.5);
  color: #487352;
  border: 1px solid #487352; }

.map-cell-room-20 {
  background-color: #9d9db9; }

.map-room-20-overlay {
  background-color: rgba(157, 157, 185, 0.5);
  color: #64648c;
  border: 1px solid #64648c; }

.map-cell-room-21 {
  background-color: #7fd49d; }

.map-room-21-overlay {
  background-color: rgba(127, 212, 157, 0.5);
  color: #3cb165;
  border: 1px solid #3cb165; }

.map-cell-room-22 {
  background-color: #8065b2; }

.map-room-22-overlay {
  background-color: rgba(128, 101, 178, 0.5);
  color: #503b76;
  border: 1px solid #503b76; }

.map-cell-room-23 {
  background-color: #cbd77f; }

.map-room-23-overlay {
  background-color: rgba(203, 215, 127, 0.5);
  color: #a6b739;
  border: 1px solid #a6b739; }

.map-cell-room-24 {
  background-color: #9c9f9e; }

.map-room-24-overlay {
  background-color: rgba(156, 159, 158, 0.5);
  color: #696c6b;
  border: 1px solid #696c6b; }

.map-cell-room-25 {
  background-color: #dfa4e7; }

.map-room-25-overlay {
  background-color: rgba(223, 164, 231, 0.5);
  color: #c353d2;
  border: 1px solid #c353d2; }

.map-cell-room-26 {
  background-color: #68bf95; }

.map-room-26-overlay {
  background-color: rgba(104, 191, 149, 0.5);
  color: #398862;
  border: 1px solid #398862; }

.map-cell-room-27 {
  background-color: #b59eed; }

.map-room-27-overlay {
  background-color: rgba(181, 158, 237, 0.5);
  color: #7348dd;
  border: 1px solid #7348dd; }

.map-cell-room-28 {
  background-color: #d4907d; }

.map-room-28-overlay {
  background-color: rgba(212, 144, 125, 0.5);
  color: #b1543a;
  border: 1px solid #b1543a; }

.map-cell-room-29 {
  background-color: #8e73fa; }

.map-room-29-overlay {
  background-color: rgba(142, 115, 250, 0.5);
  color: #3f11f6;
  border: 1px solid #3f11f6; }

.map-cell-room-30 {
  background-color: #e3f966; }

.map-room-30-overlay {
  background-color: rgba(227, 249, 102, 0.5);
  color: #cdf009;
  border: 1px solid #cdf009; }

.map-cell-room-31 {
  background-color: #a1a982; }

.map-room-31-overlay {
  background-color: rgba(161, 169, 130, 0.5);
  color: #6d7550;
  border: 1px solid #6d7550; }

.map-cell-room-32 {
  background-color: #a28fa4; }

.map-room-32-overlay {
  background-color: rgba(162, 143, 164, 0.5);
  color: #6f5c71;
  border: 1px solid #6f5c71; }

.map-cell-room-33 {
  background-color: #b96dc9; }

.map-room-33-overlay {
  background-color: rgba(185, 109, 201, 0.5);
  color: #873898;
  border: 1px solid #873898; }

.map-cell-room-34 {
  background-color: #a4f4f0; }

.map-room-34-overlay {
  background-color: rgba(164, 244, 240, 0.5);
  color: #49e9e1;
  border: 1px solid #49e9e1; }

.map-cell-room-35 {
  background-color: #beffcf; }

.map-room-35-overlay {
  background-color: rgba(190, 255, 207, 0.5);
  color: #58ff84;
  border: 1px solid #58ff84; }

.map-cell-room-36 {
  background-color: #7ba29a; }

.map-room-36-overlay {
  background-color: rgba(123, 162, 154, 0.5);
  color: #4c6b65;
  border: 1px solid #4c6b65; }

.map-cell-room-37 {
  background-color: #da86db; }

.map-room-37-overlay {
  background-color: rgba(218, 134, 219, 0.5);
  color: #c03ac1;
  border: 1px solid #c03ac1; }

.map-cell-room-38 {
  background-color: #94b4f4; }

.map-room-38-overlay {
  background-color: rgba(148, 180, 244, 0.5);
  color: #3873ea;
  border: 1px solid #3873ea; }

.map-cell-room-39 {
  background-color: #e29fe4; }

.map-room-39-overlay {
  background-color: rgba(226, 159, 228, 0.5);
  color: #ca4fce;
  border: 1px solid #ca4fce; }

.map-cell-room-40 {
  background-color: #b79ccf; }

.map-room-40-overlay {
  background-color: rgba(183, 156, 207, 0.5);
  color: #8557ae;
  border: 1px solid #8557ae; }

.map-cell-room-41 {
  background-color: #f0cde2; }

.map-room-41-overlay {
  background-color: rgba(240, 205, 226, 0.5);
  color: #d87fb4;
  border: 1px solid #d87fb4; }

.map-cell-room-42 {
  background-color: #a4b872; }

.map-room-42-overlay {
  background-color: rgba(164, 184, 114, 0.5);
  color: #708242;
  border: 1px solid #708242; }

.map-cell-room-43 {
  background-color: #74797f; }

.map-room-43-overlay {
  background-color: rgba(116, 121, 127, 0.5);
  color: #43464a;
  border: 1px solid #43464a; }

.map-cell-room-44 {
  background-color: #6dd8c3; }

.map-room-44-overlay {
  background-color: rgba(109, 216, 195, 0.5);
  color: #2fb097;
  border: 1px solid #2fb097; }

.map-cell-room-45 {
  background-color: #98cf87; }

.map-room-45-overlay {
  background-color: rgba(152, 207, 135, 0.5);
  color: #5dab45;
  border: 1px solid #5dab45; }

.map-cell-room-46 {
  background-color: #c6ffd2; }

.map-room-46-overlay {
  background-color: rgba(198, 255, 210, 0.5);
  color: #60ff81;
  border: 1px solid #60ff81; }

.map-cell-room-47 {
  background-color: #92d6ce; }

.map-room-47-overlay {
  background-color: rgba(146, 214, 206, 0.5);
  color: #48baad;
  border: 1px solid #48baad; }

.map-cell-room-48 {
  background-color: #d6d8bc; }

.map-room-48-overlay {
  background-color: rgba(214, 216, 188, 0.5);
  color: #afb27c;
  border: 1px solid #afb27c; }

.map-cell-room-49 {
  background-color: #b46775; }

.map-room-49-overlay {
  background-color: rgba(180, 103, 117, 0.5);
  color: #793c47;
  border: 1px solid #793c47; }

.map-cell-room-50 {
  background-color: #acea8a; }

.map-room-50-overlay {
  background-color: rgba(172, 234, 138, 0.5);
  color: #6fda34;
  border: 1px solid #6fda34; }

.map-room, #map-pathes {
  position: absolute;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; }
.map-room h2, #map-pathes h2 {
  font-size: 1.5em;
  font-weight: bold; }
