html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  Variables
*/
* {
  box-sizing: border-box; }

body {
  background-color: #DDD;
  font-family: sans-serif;
  font-size: 12px;
  color: #444;
  line-height: 18px;
  padding: 10px; }

h1 {
  font-size: 2em;
  font-weight: bold; }

small {
  font-size: 0.8em;
  color: #999; }

pre {
  font-family: monospace; }
pre.info {
  border-bottom: 3px solid #c4c4c4;
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #2b2b2b; }

button {
  background-color: #d0d0d0;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  padding: 3px 10px;
  border-bottom-width: 3px; }
button:hover {
  background-color: #eaeaea; }
button .active {
  top: 3px;
  border-top: 3px;
  border-bottom-width: 1px;
  background-color: #dddddd; }

#main {
  width: 582px;
  margin-left: 50%;
  transform: translateX(-50%); }
@media (max-width: 582px) {
  #main {
    transform: none;
    margin-left: 0px; } }

#grid, #menu {
  margin-bottom: 15px;
  border: 1px solid #c4c4c4;
  background-color: #eaeaea;
  padding: 10px; }

#position {
  padding: 10px;
  color: #444; }

#rooms {
  position: relative;
  top: 0;
  left: 0;
  float: left; }

/*
  VARIABLES
*/
/*
  CLASSES
*/
.map-row {
  display: table-row; }

/* Cell */
.map-cell {
  display: table-cell;
  width: 7px;
  border: none; }

.map-cell:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  border: none; }

/* Specific cells */
.map-cell-wall {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAMElEQVQIW2NkwA18GHHI+TAwMGzBJgmWAGlCl4RLoEvCJDB0ouhgYGCA24kuAXcjAJOJCFSmjFfLAAAAAElFTkSuQmCC);
  background-size: 100% auto;
  background-color: #CCC; }

.map-cell-floor {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAL0lEQVQIW2NkgAAfKI1CMUIltlBNUpKBgeE5yFhsAC4JcgzITpAAMgDrhElimAAA2UEIVBhnGn4AAAAASUVORK5CYII=);
  background-size: 100% auto;
  background-color: #c1ac53; }

.map-cell-enemy {
  background-color: #FC8888; }

.map-cell-item {
  background-color: #8888FC; }

.map-cell-boss {
  background-color: #F00; }

/* Rooms */
.map-room-0 {
  background-color: #ce6f80; }

.map-room-0-overlay {
  background-color: rgba(206, 111, 128, 0.5);
  color: #a0374a;
  border: 1px solid #a0374a; }

.map-room-1 {
  background-color: #b4679d; }

.map-room-1-overlay {
  background-color: rgba(180, 103, 157, 0.5);
  color: #793c67;
  border: 1px solid #793c67; }

.map-room-2 {
  background-color: #e670d7; }

.map-room-2-overlay {
  background-color: rgba(230, 112, 215, 0.5);
  color: #cc24b7;
  border: 1px solid #cc24b7; }

.map-room-3 {
  background-color: #e27168; }

.map-room-3-overlay {
  background-color: rgba(226, 113, 104, 0.5);
  color: #bf3025;
  border: 1px solid #bf3025; }

.map-room-4 {
  background-color: #a1bdb4; }

.map-room-4-overlay {
  background-color: rgba(161, 189, 180, 0.5);
  color: #669284;
  border: 1px solid #669284; }

.map-room-5 {
  background-color: #bbccf6; }

.map-room-5-overlay {
  background-color: rgba(187, 204, 246, 0.5);
  color: #6188ea;
  border: 1px solid #6188ea; }

.map-room-6 {
  background-color: #70afe7; }

.map-room-6-overlay {
  background-color: rgba(112, 175, 231, 0.5);
  color: #237ece;
  border: 1px solid #237ece; }

.map-room-7 {
  background-color: #8fd292; }

.map-room-7-overlay {
  background-color: rgba(143, 210, 146, 0.5);
  color: #48b34d;
  border: 1px solid #48b34d; }

.map-room-8 {
  background-color: #7e6b6b; }

.map-room-8-overlay {
  background-color: rgba(126, 107, 107, 0.5);
  color: #473c3c;
  border: 1px solid #473c3c; }

.map-room-9 {
  background-color: #df75f4; }

.map-room-9-overlay {
  background-color: rgba(223, 117, 244, 0.5);
  color: #c917ec;
  border: 1px solid #c917ec; }

.map-room-10 {
  background-color: #f5b4cb; }

.map-room-10-overlay {
  background-color: rgba(245, 180, 203, 0.5);
  color: #e95a8d;
  border: 1px solid #e95a8d; }

.map-room-11 {
  background-color: #747afc; }

.map-room-11-overlay {
  background-color: rgba(116, 122, 252, 0.5);
  color: #101afa;
  border: 1px solid #101afa; }

.map-room-12 {
  background-color: #738172; }

.map-room-12-overlay {
  background-color: rgba(115, 129, 114, 0.5);
  color: #434b42;
  border: 1px solid #434b42; }

.map-room-13 {
  background-color: #eabded; }

.map-room-13-overlay {
  background-color: rgba(234, 189, 237, 0.5);
  color: #d16dd7;
  border: 1px solid #d16dd7; }

.map-room-14 {
  background-color: #f8a890; }

.map-room-14-overlay {
  background-color: rgba(248, 168, 144, 0.5);
  color: #f25d30;
  border: 1px solid #f25d30; }

.map-room-15 {
  background-color: #c280bd; }

.map-room-15-overlay {
  background-color: rgba(194, 128, 189, 0.5);
  color: #95478f;
  border: 1px solid #95478f; }

.map-room-16 {
  background-color: #72d7cc; }

.map-room-16-overlay {
  background-color: rgba(114, 215, 204, 0.5);
  color: #32b1a3;
  border: 1px solid #32b1a3; }

.map-room-17 {
  background-color: #d972ad; }

.map-room-17-overlay {
  background-color: rgba(217, 114, 173, 0.5);
  color: #b4317c;
  border: 1px solid #b4317c; }

.map-room-18 {
  background-color: #fac3df; }

.map-room-18-overlay {
  background-color: rgba(250, 195, 223, 0.5);
  color: #f265ad;
  border: 1px solid #f265ad; }

.map-room-19 {
  background-color: #9af5c3; }

.map-room-19-overlay {
  background-color: rgba(154, 245, 195, 0.5);
  color: #3dec8c;
  border: 1px solid #3dec8c; }

.map-room-20 {
  background-color: #eca97a; }

.map-room-20-overlay {
  background-color: rgba(236, 169, 122, 0.5);
  color: #df6f21;
  border: 1px solid #df6f21; }

.map-room-21 {
  background-color: #c88865; }

.map-room-21-overlay {
  background-color: rgba(200, 136, 101, 0.5);
  color: #935634;
  border: 1px solid #935634; }

.map-room-22 {
  background-color: #8b8b8e; }

.map-room-22-overlay {
  background-color: rgba(139, 139, 142, 0.5);
  color: #58585b;
  border: 1px solid #58585b; }

.map-room-23 {
  background-color: #957fbf; }

.map-room-23-overlay {
  background-color: rgba(149, 127, 191, 0.5);
  color: #614890;
  border: 1px solid #614890; }

.map-room-24 {
  background-color: #cfb6a9; }

.map-room-24-overlay {
  background-color: rgba(207, 182, 169, 0.5);
  color: #aa7e68;
  border: 1px solid #aa7e68; }

.map-room-25 {
  background-color: #79ac9f; }

.map-room-25-overlay {
  background-color: rgba(121, 172, 159, 0.5);
  color: #49766b;
  border: 1px solid #49766b; }

.map-room-26 {
  background-color: #9a79be; }

.map-room-26-overlay {
  background-color: rgba(154, 121, 190, 0.5);
  color: #67448d;
  border: 1px solid #67448d; }

.map-room-27 {
  background-color: #b0d7d2; }

.map-room-27-overlay {
  background-color: rgba(176, 215, 210, 0.5);
  color: #6cb5ab;
  border: 1px solid #6cb5ab; }

.map-room-28 {
  background-color: #d0bdfe; }

.map-room-28-overlay {
  background-color: rgba(208, 189, 254, 0.5);
  color: #8859fc;
  border: 1px solid #8859fc; }

.map-room-29 {
  background-color: #a3d073; }

.map-room-29-overlay {
  background-color: rgba(163, 208, 115, 0.5);
  color: #70a538;
  border: 1px solid #70a538; }

.map-room-30 {
  background-color: #deb7ed; }

.map-room-30-overlay {
  background-color: rgba(222, 183, 237, 0.5);
  color: #b965d9;
  border: 1px solid #b965d9; }

.map-room-31 {
  background-color: #97ada6; }

.map-room-31-overlay {
  background-color: rgba(151, 173, 166, 0.5);
  color: #627c74;
  border: 1px solid #627c74; }

.map-room-32 {
  background-color: #b4bc90; }

.map-room-32-overlay {
  background-color: rgba(180, 188, 144, 0.5);
  color: #858f57;
  border: 1px solid #858f57; }

.map-room-33 {
  background-color: #8d97ea; }

.map-room-33-overlay {
  background-color: rgba(141, 151, 234, 0.5);
  color: #3748da;
  border: 1px solid #3748da; }

.map-room-34 {
  background-color: #b07fc3; }

.map-room-34-overlay {
  background-color: rgba(176, 127, 195, 0.5);
  color: #804696;
  border: 1px solid #804696; }

.map-room-35 {
  background-color: #eee0e6; }

.map-room-35-overlay {
  background-color: rgba(238, 224, 230, 0.5);
  color: #ca9eb1;
  border: 1px solid #ca9eb1; }

.map-room-36 {
  background-color: #bdec82; }

.map-room-36-overlay {
  background-color: rgba(189, 236, 130, 0.5);
  color: #8edf29;
  border: 1px solid #8edf29; }

.map-room-37 {
  background-color: #997a6a; }

.map-room-37-overlay {
  background-color: rgba(153, 122, 106, 0.5);
  color: #5d4a40;
  border: 1px solid #5d4a40; }

.map-room-38 {
  background-color: #e7c47d; }

.map-room-38-overlay {
  background-color: rgba(231, 196, 125, 0.5);
  color: #d69d28;
  border: 1px solid #d69d28; }

.map-room-39 {
  background-color: #c5e79a; }

.map-room-39-overlay {
  background-color: rgba(197, 231, 154, 0.5);
  color: #96d348;
  border: 1px solid #96d348; }

.map-room-40 {
  background-color: #b4a390; }

.map-room-40-overlay {
  background-color: rgba(180, 163, 144, 0.5);
  color: #84705a;
  border: 1px solid #84705a; }

.map-room-41 {
  background-color: #a7a2b9; }

.map-room-41-overlay {
  background-color: rgba(167, 162, 185, 0.5);
  color: #71698c;
  border: 1px solid #71698c; }

.map-room-42 {
  background-color: #e0f272; }

.map-room-42-overlay {
  background-color: rgba(224, 242, 114, 0.5);
  color: #cbe915;
  border: 1px solid #cbe915; }

.map-room-43 {
  background-color: #dd8888; }

.map-room-43-overlay {
  background-color: rgba(221, 136, 136, 0.5);
  color: #c63939;
  border: 1px solid #c63939; }

.map-room-44 {
  background-color: #be6b7f; }

.map-room-44-overlay {
  background-color: rgba(190, 107, 127, 0.5);
  color: #873c4e;
  border: 1px solid #873c4e; }

.map-room-45 {
  background-color: #efc47a; }

.map-room-45-overlay {
  background-color: rgba(239, 196, 122, 0.5);
  color: #e49c1f;
  border: 1px solid #e49c1f; }

.map-room-46 {
  background-color: #746ed6; }

.map-room-46-overlay {
  background-color: rgba(116, 110, 214, 0.5);
  color: #3831ad;
  border: 1px solid #3831ad; }

.map-room-47 {
  background-color: #baf5f7; }

.map-room-47-overlay {
  background-color: rgba(186, 245, 247, 0.5);
  color: #5fe8ec;
  border: 1px solid #5fe8ec; }

.map-room-48 {
  background-color: #7c7a7b; }

.map-room-48-overlay {
  background-color: rgba(124, 122, 123, 0.5);
  color: #494748;
  border: 1px solid #494748; }

.map-room-49 {
  background-color: #98d9f9; }

.map-room-49-overlay {
  background-color: rgba(152, 217, 249, 0.5);
  color: #38b5f3;
  border: 1px solid #38b5f3; }

.map-room-50 {
  background-color: #a7c779; }

.map-room-50-overlay {
  background-color: rgba(167, 199, 121, 0.5);
  color: #759a40;
  border: 1px solid #759a40; }

.map-room, #map-pathes {
  position: absolute;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; }
.map-room h2, #map-pathes h2 {
  font-size: 1.5em;
  font-weight: bold; }
