html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  Variables
*/
* {
  box-sizing: border-box; }

body {
  background-color: #DDD;
  font-family: sans-serif;
  font-size: 12px;
  color: #444;
  line-height: 18px;
  padding: 10px; }

h1 {
  font-size: 2em;
  font-weight: bold; }

h2 {
  font-size: 1.5em;
  font-weight: bold; }

small {
  font-size: 0.8em;
  color: #999; }

pre {
  font-family: monospace; }
pre.info {
  border-bottom: 3px solid #c4c4c4;
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #2b2b2b; }

button {
  background-color: #d0d0d0;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  padding: 3px 10px;
  border-bottom-width: 3px; }
button:hover {
  background-color: #eaeaea; }
button .active {
  top: 3px;
  border-top: 3px;
  border-bottom-width: 1px;
  background-color: #dddddd; }

input {
  background-color: #DDD;
  border: 1px solid #c4c4c4;
  padding: 3px;
  border-bottom-width: 3px; }

input:focus {
  background-color: #f7f7f7; }

/* Remove controls from Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: right; }

/* Re-applies the controls on :hover and :focus */
input[type="number"]:hover, input[type="number"]:focus {
  -moz-appearance: number-input; }

textarea, input {
  outline: none; }

#main {
  width: 1142px;
  margin-left: 50%;
  transform: translateX(-50%); }
@media (max-width: 1142px) {
  #main {
    transform: none;
    margin-left: 0px; } }

#content {
  display: flex;
  margin: 15px 0px; }

#menu {
  width: 250px;
  margin-right: 15px; }
#menu button {
  display: block;
  width: 100%;
  margin-bottom: 5px; }

#position {
  padding: 10px;
  color: #444; }

#rooms {
  position: relative;
  top: 0;
  left: 0;
  float: left; }

.mapReGenerateBtn {
  padding: 10px;
  background-color: #77e577;
  border-color: #62e162;
  font-weight: bold; }
.mapReGenerateBtn:hover {
  background-color: #a2eda2; }
.mapReGenerateBtn .active {
  background-color: #8de98d; }

.disabled {
  opacity: 0.7; }

.panel {
  border: 1px solid #c4c4c4;
  background-color: #eaeaea;
  padding: 10px; }

.tooltip {
  display: none;
  position: absolute;
  border: 1px solid #333;
  background-color: #161616;
  border-radius: 3px;
  padding: 3px 10px;
  color: #fff;
  font-size: 0.8em;
  font-family: monospace; }
.tooltip li {
  margin-left: 15px; }
.tooltip strong {
  text-decoration: underline; }

.accordion {
  margin-bottom: 3px; }

.menu-button {
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 3px 10px;
  background-color: #c4c4c4;
  font-weight: bold;
  font-size: 1.2em; }
.menu-button:hover {
  background-color: #dddddd; }

.menu-content {
  display: none;
  padding-bottom: 10px; }
.menu-content:last-child {
  padding-bottom: 0px; }

.opt-group {
  margin-top: 5px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #c4c4c4; }
.opt-group:last-child {
  border-bottom: none;
  margin-bottom: 0px; }
.opt-group label {
  font-weight: bold; }
.opt-group input[type=text], .opt-group input[type=number] {
  display: block;
  width: 100%; }
.opt-group .help {
  clear: both;
  display: block;
  font-size: 0.8em; }
.opt-group code {
  float: right;
  font-weight: lighter;
  font-size: 0.8em;
  background-color: #a2a2ed;
  padding: 0 3px;
  font-family: monospace; }

/*
  VARIABLES
*/
/*
  CLASSES
*/
.map-row {
  display: table-row; }

/* Cell */
.map-cell {
  display: table-cell;
  width: 14px;
  border: none; }

.map-cell:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  border: none; }

/* Specific cells */
.map-cell-wall {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAnUlEQVQokY1SuxLDIAxTOW8MjMwZkp/qh7Tf2g6ZGRnYfNcMLa1NHKdaeJxlIZnL7X594QMuDQCwVsa8JHgII8kClwYuDc9H1URJkmpes3BEAgDKUa1Toq8q9UsAmLNrSzUmv/QHylE1DlaRFcaIXTheIDui9Cn3Hv72KF+zVn6Pw/IyjkZamBLZimOCFsLZv+xKlKPO4uwzj2H18waURVCVLdhS4wAAAABJRU5ErkJggg==");
  background-size: 100% auto;
  background-color: #CCC; }

.map-cell-floor {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAL0lEQVQIW2NkgAAfKI1CMUIltlBNUpKBgeE5yFhsAC4JcgzITpAAMgDrhElimAAA2UEIVBhnGn4AAAAASUVORK5CYII=");
  background-size: 50% auto;
  background-color: #c1ac53; }

.map-cell-water {
  /*background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAMElEQVQIW2NkwAMYoXLGUPosMh8kCZJAEYTxYTqxGg6SlITKPIfScD6yTgxFeI0FAHc5BlSOgEKdAAAAAElFTkSuQmCC);*/
  background-image: url("data:image/gif;base64,R0lGODdhDgAOAKIAAAAAADJubnevtsbZ6MHH33yZuwAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJHgAAACwAAAAADgAOAAADKyi63BJhwPAkhWOQLHWOGiGKITkypyA6UcNN2faV3DiGqo2uTu//wKCwlwAAIfkECR4AAAAsAAAAAA4ADgAAAysoutwaYcAg4oRjkCw1z0QoamLJiMrmRM0mYV4WjWC5Eam5oE7v/8Cg0JEAACH5BAkeAAAALAAAAAAOAA4AAAMrKLrMsSGM+KSNY5A8tc9EKGpiyYjL0AgS81EgF5RcGWqKfRJr7//AoLCXAAAh+QQJHgAAACwAAAAADgAOAAADKyi63BphwCDihGOQLDXPRChqYsmIyuZEzSZhXhaNYLkRqbmgTu//wKDQkQAAOw==");
  background-size: 100% auto;
  background-color: #1d67f9 !important; }

.map-cell-lava {
  background-image: url("data:image/gif;base64,R0lGODdhDgAOACcAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJHgAAACwAAAAADgAOAIIAAAC2dwBuMjLoWADBxwBuMgC2WAAAAAADMBi63CFiQPEkhWOQLHWOGiGKITkyZyA6UcNN2faV3DiGqo2uTu8vBUMj2BAWf8hGAgAh+QQJHgAAACwAAAAADgAOAIIAAAC2dwBuMjLoWADBxwBuMgC2WAAAAAADMBi63CpiQBHihGOQLDXPRChqYsmIyuZEzSZhXhaNYLkRqbmgTu8rBUMj2BAWf8hGAgAh+QQJHgAAACwAAAAADgAOAIIAAAC2dwBuMjLoWADBxwBuMgC2WAAAAAADMBi6zLJCjPikjWOQPLXPRChqYsmIy9AEEvNRICeUXBlqin0Sa+8vBUMj2BAWf8hGAgAh+QQJHgAAACwAAAAADgAOAIIAAAC2dwBuMjLoWADBxwBuMgC2WAAAAAADMBi63CpiQBHihGOQLDXPRChqYsmIyuZEzSZhXhaNYLkRqbmgTu8rBUMj2BAWf8hGAgA7");
  background-size: 100% auto;
  background-color: #f9d51d !important; }

.map-cell-item-enemy:after {
  background-size: 100% auto;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAeUlEQVQYlX2Q0Q3DMAgFD6tzdCxL2SNjOHNEolt5kdePkgasqucfi0PPBgMAiS9mZCTK2bQolyQNedar8qQbgNM5ePEEoDMis13hOzPUTUhPpfv+qKVZ2lqO6tGwr1O6JJc00igNzARMjMlnORunld/+4q+MVyvXbt9QxF+28/K7hAAAAABJRU5ErkJggg=="); }

.map-cell-item-chest:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAw0lEQVQokWNgIBMwovH/E6seWeP/NEtDBgYGBoapO1kZst1/Y7BnHT8P1wPT+L8/zJqBgYGBIWfOb4YpKawYVl1//I1BU5aLoXDVUQYGBgZGFmQJhOm/MTRC5L5huPm/koIJAe9BwL0HZxgYGBgYmWACLpJ/GW5eYmJwkfzLwMDAwLC9wYhhe4MRVjkGBgYGJhTT1hkQZSsDAwMDCzZBF8m/DJ4N5+BshKGnsduoFHQBRTOy05DlKHIqPFSJ1oGqj44AAG86PtaEiWBfAAAAAElFTkSuQmCC"); }

.map-cell-item-health:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAnklEQVQokcWRsQ6CMBRFD8YQQxgKLh0hfoGjf+DnMrowOzLKD5jg1sFoQkjKVFPbp4ycrS/3pPflwao0ZW2bsrZLM4CtH8jPJwC6dmePj1sizVw+cdJUFQCkSpFpzfNyZaoKUqUAyLRm33Y4eRNWGI3hNQy4n0ZjxLUi0YVN33+9Qz6d/boSh/ubaMclOZQiUZIlSRR9+Zf0F+no6zIDbk1Pu03MjqgAAAAASUVORK5CYII="); }

.map-cell-item-boss:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAuklEQVQokZ2SsQ3EIAxFv6NrMkKaG4CWNdJeJskYySJcmzVoKSloMoJLX3EJB4TkpHwJ2cZ+2BImJBIRwYmIiLI4hYpclc+cFDJa49V1AIDZezzbFoO1B5j+QbtKuNk9ozUGazF7j/e6HqBJqWzmBoVG5xCYzzrVQaN1tah2/7gqCsynj8WO5UhpHJgxOnekt48XAGK0Fun7aCelYm47v45ERPvSBGbQskRbiDLwjm6D2a5eFn63K9Z/AKl/YS7wMRjiAAAAAElFTkSuQmCC"); }

.map-cell-item-player:after {
  background: url("data:image/gif;base64,R0lGODdhDgAOAHcAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQJCgAAACwAAAAADgAOAIMAAAAiIDRFKDysMjJmOTGpdVDGclCEnkO2n1eNa1FgWJgAAAAAAAAAAAAAAAAAAAAETxBIGaa9QIgxwKhUNhDkoFkmMRaFMRwCSqrEgXDTVmoHUagVAU0QSAh/Mc+MmCqYAIHRQKHYjFRJz/S6k3QECm4JNzFJTTEQtIPuYDAgdwQAIfkECQoAAAAsAAAAAA4ADgCDAAAAIiA0rDIyRSg8ZjkxYFiYqXVQxnJQjWtRhJ5DAAAAAAAAAAAAAAAAAAAAAAAABE8QSBmmnUIKMQYQFQUMAmFuXvYJxWYchulNZFGYhLFhJduVsUFlgBMiSEEJ6QQixjKBzamTSGxUIxzOOlNKcYIEycL5cgAhdKYzvrjRGkkEACH5BAkKAAAALAAAAAAOAA4AgwAAACIgNKwyMkUoPGY5Mal1UGBYmKeCe8ZyUI1rUYSeQwAAAAAAAAAAAAAAAAAAAARQEEgZpp1CijGyqBTACQKxZYBHEkThCsZgdSwrHOREm5thIKbKrpMYtEwSI2sQCBiBskCJpRjZZBqBQmGqoZKKlY3Q0Yh2puhEmtpgL/DKNwIAIfkECQoAAAAsAAAAAA4ADgCDAAAAIiA0rDIyRSg8ZjkxhJ5DqXVQxnJQYFiYAAAAAAAAAAAAAAAAAAAAAAAAAAAABE8QSBmmvUCMnSsFg0AQgiZIp1aIRlsOVliMo0HAaFkUG1tWotEgcPDhBiNNIIC0wZg0zQAhKk1KNAKCipMgkyQB9TQJBUnPSeDUI1vc6ksEADs="); }

/* Rooms */
.map-cell-room-0 {
  background-color: #b3f4e4; }

.map-room-0-overlay {
  background-color: rgba(179, 244, 228, 0.5);
  color: #5ae7c4;
  border: 1px solid #5ae7c4; }

.map-cell-room-1 {
  background-color: #87d182; }

.map-room-1-overlay {
  background-color: rgba(135, 209, 130, 0.5);
  color: #47ad40;
  border: 1px solid #47ad40; }

.map-cell-room-2 {
  background-color: #88839c; }

.map-room-2-overlay {
  background-color: rgba(136, 131, 156, 0.5);
  color: #565267;
  border: 1px solid #565267; }

.map-cell-room-3 {
  background-color: #94cab9; }

.map-room-3-overlay {
  background-color: rgba(148, 202, 185, 0.5);
  color: #52a68c;
  border: 1px solid #52a68c; }

.map-cell-room-4 {
  background-color: #cca2f1; }

.map-room-4-overlay {
  background-color: rgba(204, 162, 241, 0.5);
  color: #9b49e4;
  border: 1px solid #9b49e4; }

.map-cell-room-5 {
  background-color: #ff9cbe; }

.map-room-5-overlay {
  background-color: rgba(255, 156, 190, 0.5);
  color: #ff367b;
  border: 1px solid #ff367b; }

.map-cell-room-6 {
  background-color: #7fbeba; }

.map-room-6-overlay {
  background-color: rgba(127, 190, 186, 0.5);
  color: #488f8a;
  border: 1px solid #488f8a; }

.map-cell-room-7 {
  background-color: #ef79ee; }

.map-room-7-overlay {
  background-color: rgba(239, 121, 238, 0.5);
  color: #e41ee2;
  border: 1px solid #e41ee2; }

.map-cell-room-8 {
  background-color: #f185c5; }

.map-room-8-overlay {
  background-color: rgba(241, 133, 197, 0.5);
  color: #e72a99;
  border: 1px solid #e72a99; }

.map-cell-room-9 {
  background-color: #bd9a77; }

.map-room-9-overlay {
  background-color: rgba(189, 154, 119, 0.5);
  color: #8b6743;
  border: 1px solid #8b6743; }

.map-cell-room-10 {
  background-color: #f4d0a0; }

.map-room-10-overlay {
  background-color: rgba(244, 208, 160, 0.5);
  color: #e9a345;
  border: 1px solid #e9a345; }

.map-cell-room-11 {
  background-color: #67a86b; }

.map-room-11-overlay {
  background-color: rgba(103, 168, 107, 0.5);
  color: #3e6b40;
  border: 1px solid #3e6b40; }

.map-cell-room-12 {
  background-color: #8d948c; }

.map-room-12-overlay {
  background-color: rgba(141, 148, 140, 0.5);
  color: #5a605a;
  border: 1px solid #5a605a; }

.map-cell-room-13 {
  background-color: #75ebab; }

.map-room-13-overlay {
  background-color: rgba(117, 235, 171, 0.5);
  color: #20da75;
  border: 1px solid #20da75; }

.map-cell-room-14 {
  background-color: #adb6ce; }

.map-room-14-overlay {
  background-color: rgba(173, 182, 206, 0.5);
  color: #6d7da8;
  border: 1px solid #6d7da8; }

.map-cell-room-15 {
  background-color: #84cbeb; }

.map-room-15-overlay {
  background-color: rgba(132, 203, 235, 0.5);
  color: #2ca6dd;
  border: 1px solid #2ca6dd; }

.map-cell-room-16 {
  background-color: #68e772; }

.map-room-16-overlay {
  background-color: rgba(104, 231, 114, 0.5);
  color: #20c92d;
  border: 1px solid #20c92d; }

.map-cell-room-17 {
  background-color: #9ed374; }

.map-room-17-overlay {
  background-color: rgba(158, 211, 116, 0.5);
  color: #6aab36;
  border: 1px solid #6aab36; }

.map-cell-room-18 {
  background-color: #e47574; }

.map-room-18-overlay {
  background-color: rgba(228, 117, 116, 0.5);
  color: #cb2927;
  border: 1px solid #cb2927; }

.map-cell-room-19 {
  background-color: #84cfdf; }

.map-room-19-overlay {
  background-color: rgba(132, 207, 223, 0.5);
  color: #34afc9;
  border: 1px solid #34afc9; }

.map-cell-room-20 {
  background-color: #71fb68; }

.map-room-20-overlay {
  background-color: rgba(113, 251, 104, 0.5);
  color: #15f607;
  border: 1px solid #15f607; }

.map-cell-room-21 {
  background-color: #8d6fcc; }

.map-room-21-overlay {
  background-color: rgba(141, 111, 204, 0.5);
  color: #58389d;
  border: 1px solid #58389d; }

.map-cell-room-22 {
  background-color: #d4bdb2; }

.map-room-22-overlay {
  background-color: rgba(212, 189, 178, 0.5);
  color: #af8571;
  border: 1px solid #af8571; }

.map-cell-room-23 {
  background-color: #676976; }

.map-room-23-overlay {
  background-color: rgba(103, 105, 118, 0.5);
  color: #373940;
  border: 1px solid #373940; }

.map-cell-room-24 {
  background-color: #e18c72; }

.map-room-24-overlay {
  background-color: rgba(225, 140, 114, 0.5);
  color: #c34e2a;
  border: 1px solid #c34e2a; }

.map-cell-room-25 {
  background-color: #88e177; }

.map-room-25-overlay {
  background-color: rgba(136, 225, 119, 0.5);
  color: #45c62c;
  border: 1px solid #45c62c; }

.map-cell-room-26 {
  background-color: #f8f6b7; }

.map-room-26-overlay {
  background-color: rgba(248, 246, 183, 0.5);
  color: #efea5a;
  border: 1px solid #efea5a; }

.map-cell-room-27 {
  background-color: #6791c8; }

.map-room-27-overlay {
  background-color: rgba(103, 145, 200, 0.5);
  color: #355e94;
  border: 1px solid #355e94; }

.map-cell-room-28 {
  background-color: #7c6fea; }

.map-room-28-overlay {
  background-color: rgba(124, 111, 234, 0.5);
  color: #321fd4;
  border: 1px solid #321fd4; }

.map-cell-room-29 {
  background-color: #aab0bd; }

.map-room-29-overlay {
  background-color: rgba(170, 176, 189, 0.5);
  color: #717b90;
  border: 1px solid #717b90; }

.map-cell-room-30 {
  background-color: #c5d671; }

.map-room-30-overlay {
  background-color: rgba(197, 214, 113, 0.5);
  color: #9aaf32;
  border: 1px solid #9aaf32; }

.map-cell-room-31 {
  background-color: #768889; }

.map-room-31-overlay {
  background-color: rgba(118, 136, 137, 0.5);
  color: #475252;
  border: 1px solid #475252; }

.map-cell-room-32 {
  background-color: #e1df7a; }

.map-room-32-overlay {
  background-color: rgba(225, 223, 122, 0.5);
  color: #c8c52d;
  border: 1px solid #c8c52d; }

.map-cell-room-33 {
  background-color: #9db0a1; }

.map-room-33-overlay {
  background-color: rgba(157, 176, 161, 0.5);
  color: #67806c;
  border: 1px solid #67806c; }

.map-cell-room-34 {
  background-color: #86996b; }

.map-room-34-overlay {
  background-color: rgba(134, 153, 107, 0.5);
  color: #525e40;
  border: 1px solid #525e40; }

.map-cell-room-35 {
  background-color: #cfbddb; }

.map-room-35-overlay {
  background-color: rgba(207, 189, 219, 0.5);
  color: #9f7bb7;
  border: 1px solid #9f7bb7; }

.map-cell-room-36 {
  background-color: #e46dad; }

.map-room-36-overlay {
  background-color: rgba(228, 109, 173, 0.5);
  color: #c6257c;
  border: 1px solid #c6257c; }

.map-cell-room-37 {
  background-color: #85c7d9; }

.map-room-37-overlay {
  background-color: rgba(133, 199, 217, 0.5);
  color: #3ba1bd;
  border: 1px solid #3ba1bd; }

.map-cell-room-38 {
  background-color: #936e9a; }

.map-room-38-overlay {
  background-color: rgba(147, 110, 154, 0.5);
  color: #5b435f;
  border: 1px solid #5b435f; }

.map-cell-room-39 {
  background-color: #91d1aa; }

.map-room-39-overlay {
  background-color: rgba(145, 209, 170, 0.5);
  color: #4ab273;
  border: 1px solid #4ab273; }

.map-cell-room-40 {
  background-color: #a19699; }

.map-room-40-overlay {
  background-color: rgba(161, 150, 153, 0.5);
  color: #6e6366;
  border: 1px solid #6e6366; }

.map-cell-room-41 {
  background-color: #bb6df5; }

.map-room-41-overlay {
  background-color: rgba(187, 109, 245, 0.5);
  color: #8e10ec;
  border: 1px solid #8e10ec; }

.map-cell-room-42 {
  background-color: #c6866f; }

.map-room-42-overlay {
  background-color: rgba(198, 134, 111, 0.5);
  color: #94523b;
  border: 1px solid #94523b; }

.map-cell-room-43 {
  background-color: #ad97d8; }

.map-room-43-overlay {
  background-color: rgba(173, 151, 216, 0.5);
  color: #734dbc;
  border: 1px solid #734dbc; }

.map-cell-room-44 {
  background-color: #9d9b72; }

.map-room-44-overlay {
  background-color: rgba(157, 155, 114, 0.5);
  color: #646245;
  border: 1px solid #646245; }

.map-cell-room-45 {
  background-color: #f1d2c5; }

.map-room-45-overlay {
  background-color: rgba(241, 210, 197, 0.5);
  color: #dd9273;
  border: 1px solid #dd9273; }

.map-cell-room-46 {
  background-color: #f896f3; }

.map-room-46-overlay {
  background-color: rgba(248, 150, 243, 0.5);
  color: #f236e8;
  border: 1px solid #f236e8; }

.map-cell-room-47 {
  background-color: #c3e476; }

.map-room-47-overlay {
  background-color: rgba(195, 228, 118, 0.5);
  color: #9bcc28;
  border: 1px solid #9bcc28; }

.map-cell-room-48 {
  background-color: #c46e9d; }

.map-room-48-overlay {
  background-color: rgba(196, 110, 157, 0.5);
  color: #913b6a;
  border: 1px solid #913b6a; }

.map-cell-room-49 {
  background-color: #b9bfaf; }

.map-room-49-overlay {
  background-color: rgba(185, 191, 175, 0.5);
  color: #879276;
  border: 1px solid #879276; }

.map-cell-room-50 {
  background-color: #fc75da; }

.map-room-50-overlay {
  background-color: rgba(252, 117, 218, 0.5);
  color: #fa11bf;
  border: 1px solid #fa11bf; }

.map-room, #map-pathes {
  position: absolute;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; }
.map-room h2, #map-pathes h2 {
  font-size: 1.5em;
  font-weight: bold; }
